ul, li {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}

.home-wrapper {
    background: #fff;
    margin: 42px auto;
    padding: 72px 48px;
}

.nav {
    display: flex;
    flex-wrap: wrap;
}

.nav-item {
    flex: 1 1 50%;
    position: relative;
    overflow: hidden;
    &:hover .nav-paragraph {
        display: block;
        margin-top: -10px;
    }
}

.nav-image {
    width: 300px;
    height: 100px;
    object-fit: cover;
}

.nav-text {
    position: absolute;
    width: 100%;
    height: 100%;
}

.nav-row {
    color: #fff;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.nav-header {
    text-transform: uppercase;
    margin: 10px 0;
}

.nav-paragraph--uppercase {
    text-transform: uppercase;
}

.nav-paragraph {
    display: none;
    &:first-letter {
        text-transform: uppercase;
    }
}

.nav-item:hover .nav-text {
    top: 0;
}

.nav-item--color {
    flex: 1 0 100%;
    background: #ff6b6b;
    height: 100px;
    position: relative;
}

.photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.photos-item {
    flex: 0 0 32%;
    height: 195px;
    margin-bottom: 12px;
    position: relative;
    &:hover .photo-icons {
        display: flex;
        cursor: pointer;
    }
}

.photo-image {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.photo-icons {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.1);
}

.fa-solid {
    margin: 5px;
    color: #fff;
    font-size: 20px;
    &:hover {
        color: #ff6b6b;
    }
}

.instagram-link {
    padding: 15px 0;
}

.carousel-cell {
    width: 100%;
    height: 260px;
    margin-right: 10px;
    border-radius: 5px;
}

.review-block {
    display: flex;
    justify-content: space-between;
    margin: 30px;
}

.review-image {
    border-radius: 5px;
    width: 195px;
    height: 195px;
    img {
        width: 195px;
        height: 195px;
        border-radius: 5px;
        object-fit: cover;
    }
}

.review-data {
margin-left: 30px;

}

.review-header {
}

.review-text {
}

.review-author {
    font-style: italic;
}

.flickity-page-dots, .flickity-button {
    display: none;
}